version: '3'

services:
  cleanbuilders-php:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
    volumes:
      - .:/var/www
    networks:
      - cleanbuilders-network

  cleanbuilders-nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - .:/var/www
      - .docker/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - cleanbuilders-network

  cleanbuilders-db:
    image: mysql:8.1
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - cleanbuilders-dbdata:/var/lib/mysql
    networks:
      - cleanbuilders-network

  cleanbuilders-redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - cleanbuilders-network

networks:
  cleanbuilders-network:
    driver: bridge

volumes:
  cleanbuilders-dbdata: 